.admin-dashboard {
    background-color: #17591865;
    height: 100vh; /* Set height to 100% of the viewport height */
    width: 208vh;   /* Set width to 100% */
    margin: 0;     /* Remove any margin */
    padding: 0;    /* Remove any padding */
    overflow-y:scroll;
  }

  .body
  {
    overflow:hidden;
    overflow-y:scroll;
  }

  .attendee-dashboard {
    height: 100vh; /* Set height to 100% of the viewport height */
    width: 100%;   /* Set width to 100% */
    margin: 0;     /* Remove any margin */
    padding: 0;    /* Remove any padding */
    overflow: hidden; /* Ensure no overflow outside the viewport */
    background-color: #021412; /* Set the desired background color */
  }
  
  .admin-dashboard .event-list {
    margin-top: 20px; /* Add some space between welcome message and event list */
  }
  
  .event {
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .logout-container {
    text-align: right; /* Align logout button to the right */
  }
  
  .button-container {
    text-align: right; /* Align delete button to the right */
  }
  
  .event img {
    display: flexbox; /* Ensure images are displayed as blocks */
    margin-bottom: 10px; /* Add some space between event images */
  }
  