html{
  background: rgb(255, 255, 255) !important;
}

h2 {
    color: red
}

.Attendee-dashboard{
  height: 100dvw;
}

.Event-List ul li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.Event-List ul li img {
  height: 128px;
}

.Event-List ul li.selected {
  flex-grow: 1;
}

.Event-List ul li.selected div {
  flex-direction: column;
}

.Event-List ul li.selected img {
  height: 512px;
}

.Event-List ul li:not(.selected) {
  display: none;
}

.event-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust the column width as needed */
    grid-gap: 20px;
}

a:link{
    color:aqua;
}

a:visited{
    color:rgb(1, 0, 34);
}

a:active{
    color:yellow
}
  
.event {
/* Remove the previous flexbox styles */
text-align: center;
}

.event img {
/* Ensure images fit within the grid items */
max-width: 100%;
height: auto; /* Maintain aspect ratio */
}
