.user_card {
    height: 400px;
    width: 350px;
    margin-top: 100px;
    margin-bottom: auto;
    background: #f39c12;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background: #fff;
    padding: 10px;
    text-align: center;
  }
  
  .brand_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid #f39c12;
  }
  
  .form_container {
    margin-top: 100px;
  }
  
  .login_btn {
    width: 100%;
    background: #f39c12 !important;
    color: #fff !important;
  }
  
  .login_btn:focus {
    box-shadow: none !important;
  }
  
  .login_container {
    padding: 0 2rem;
  }
  
  .input_user,
  .input_pass {
    margin-bottom: 20px;
  }
  
  .links {
    color: #fff;
  }
  
  .links a {
    color: #fff;
  }
  
  .links a:hover {
    color: #000;
    text-decoration: none;
  }
  